body {
    text-align: center;
    background-image: url(flowers.jpg);
    background-size: cover;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    border-top: 100px;
}
.circular {
    border-radius: 50%;
}
#box{
    padding: 40px 5px 10px 10px;
    background-color: rgba(255,255,255,.6);
    height: 350px;
    width: 250px;
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: 9%;   
    box-shadow: 3px 3px 15px;
}